<!DOCTYPE html>
<html>
<head>
	<title>detail</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<center><h1>LeaveDetail</h1></center>
	<table class="table table-striped">
		<tr>
			<th>user</th>
			<th>department</th>
			<th>name</th>
			<th>leave_type</th>
			<th>Start_date</th>
			<th>end_date</th>
			<th>approve_status</th>
		</tr>
			<tr>
				<td>{{object.user}}</td>
				<td>{{object.department}}</td>
				<td>{{object.name}}</td>
				<td>{{object.leave_type}}</td>
				<td>{{object.Start_date}}</td>
				<td>{{object.end_date}}</td>
				<td>{{i.approvel_status}}</td>
			</tr>
	</table>
</div>
</body>
</html>






