<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
	th{
		color: black;
		background-color: gray;
		height: 50px;

	}
</style>
<body>
	<div class="container">
		<center><h1>Medicine</h1></center>
	<table class="table table-striped">
	<thead>
		<tr>
		<th>medicine_name</th>
		<th>quantity</th>
		<th>mfd</th>
		<th>expd</th>
		<th>price</th>
		<th></th>
		</tr>
	</thead>
		{% for i in pharmacy %}
		<tr>
			<td><a href="{% url 'medicinedetail' i.id %}">{{i.medicine_name}}</a></td>
			<td>{{i.quantity}}</td>
			<td>{{i.mfd}}</td>
			<td>{{i.expd}}</td>
			<td>{{i.price}}</td>
			<td><a href="{% url 'edit' i.id %}">edit</a></td>

		</tr>
		{% endfor %}
	</table>
</div>
</body>
</html>
