<!DOCTYPE html>
<html>
<head>
	<title>Payment</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
	.demo1{
		
		border:	solid;
		border-color: black;
		height: 300px;
		width: 250px;
		padding-top: 100px;
		margin-top:	150px;
		background-color: #f6f1ef;
		border-radius: 20px;
	}
</style>
<body>
	<center>
	<div class="container">
		<div class="demo1">
	<p>You are paying {{amount_rupee}}</p>
	<button class="btn btn-success" id="pay-btn">Pay</button>
<!-- Razorpay's Javascript code. -->
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script>
	var options = {
		key: "{{ razorpay_merchant_key }}",
		amount: "{{ razorpay_amount }}",
		currency: "{{ currency }}",
		name: "Dj Razorpay",
		order_id: "{{ razorpay_order_id }}",
		callback_url: "{{ callback_url }}",
    };
	var rzp1 = new Razorpay(options);
	document.getElementById("pay-btn").onclick = function (e) {
		rzp1.open();
		e.preventDefault();
    };
  </script>
		</div>
	</div>
</center>
</body>
</html>